### while
it exicutes block or set of instructions untill the condition is false
while we dont the range
exicute faster than the for loop
user incrementation

In [1]:
### while
- it exicutes block or set of instructions untill the condition is false
- while we dont the range
- exicute faster than the for loop
- user incrementation

SyntaxError: invalid syntax (Temp/ipykernel_2336/519267636.py, line 2)

### while
- it exicutes block or set of instructions untill the condition is false
- while we dont the range
- exicute faster than the for loop
- user incrementation

In [ ]:
#while syntax

In [2]:
n=1
while n<=5:
    print("vasavi collage")
    n=n+1

vasavi collage
vasavi collage
vasavi collage
vasavi collage
vasavi collage

In [4]:
n=-2
while n<=5:
    print("vasavi collage")
    n=n+1

vasavi collage
vasavi collage
vasavi collage
vasavi collage
vasavi collage
vasavi collage
vasavi collage
vasavi collage

In [6]:
n=10
while n>=1:
    print(n,end=" ")
    n=n-1

10 9 8 7 6 5 4 3 2 1

In [7]:
# i/p 1234
# o/p digit count:4
s=int(input())
c=0
while(s!=0): #1234!=0 #123!=0 #12!=0 #1!=0:
    c=c+1    #1234%10  123%10
    s=s//10
print("\nDigit count:",c)

456789

Digit count: 6

In [8]:
# i/p 12345
# o/p digit count:5
s=int(input())
c=0
while(s!=0): #12345!=0 #1234!=0 #123!=0 #12!=0 #1!=0:
    c=c+1    #12345%10  1234%10
    s=s//10
print("\nDigit count:",c)

123

Digit count: 3

In [9]:
# i/p 1234
# o/p digit count:4
s=int(input())
c=0
while(s!=0): #1234!=0 #123!=0 #12!=0 #1!=0:
    c=c+1    #1234%10  123%10
    s=s//10
print("\nDigit count:",c)

12213654465

Digit count: 11

In [12]:
# check the given is palindrome or not
# 121--121
# mom-mom
n= int(input)
temp=n
rev=0
while(n!=0):
    rem=n%10
    rev=rev*10+rem
    n=n//10
if(temp==rev):
    print("palindrome")
else: 
     print("not a palindrome")

TypeError: int() argument must be a string, a bytes-like object or a number, not 'method'

In [ ]:
# syntax::Nested for loop
for iter in range(start,end,step):
    for iter in range(start,end,step):
        statement1
        statementn

In [ ]:
# Matrix format
- rows,columns
- 2dimentions
     1 2 3
     1 2 3

In [15]:
for row in range(1,5):
    for column in range(1,5):
        print(row,end=" ")
    print()# new line

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [16]:
for row in range(1,6):
    for column in range(1,6):
        print(row,end=" ")
    print()# new line

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [17]:
for row in range(1,6):
    for column in range(1,9):
        print("*",end=" ")
    print()# new line

* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *

In [19]:
for row in range(1,8):
    for column in range(1,9):
        print("*",end=" ")
    print()# new line

* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *

In [20]:
*
* *
* * *
* * * * 
* * * * *
for row in range(1,6):
    for colume in range(1,row+1)

SyntaxError: invalid syntax (Temp/ipykernel_2336/1635481148.py, line 1)

In [ ]:
*
* *
* * *
* * * * 
* * * * *

In [21]:
for row in range(1,6):
    for column in range(1,row+1):
        print("*",end=" ")
    print()# new line

*
* *
* * *
* * * *
* * * * *

In [22]:
for row in range(1,column-1):
    for column in range(1,6):
        print("*",end=" ")
    print()# new line

* * * * *
* * * * *
* * * * *

In [23]:
for row in range(6,0,-1):
    for column in range(1,row+1):
        print("*",end=" ")
    print()# new line

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [27]:
for row in range(1,6):
    for column in range(1,row+1):
        print("*",end=" ")
    print()# new line
for row in range(6,0,-1):
    for column in range(1,row+1):
        print("*",end=" ")
    print()# new line

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [29]:
# 1-10
# prime numbers:2,3,5,7
st=int(input())
en=int(input())
for num in range(st,en+1): #num=1 num=2 num=3 num=4
    c=0
    for var in range(1,num+1):#(1,1))(1,2)(1,3)(1,4)
        if num%var==0: # factors 
            c+=1       # factors count
    if c==2:
        print(num,end=" ")

1
10
2 3 5 7

In [25]:
# Nested while
- loop inside another loop

IndentationError: expected an indented block (Temp/ipykernel_2336/2232221771.py, line 6)

In [ ]:
# syntax
initilization
while condition:
    statements
    incr/decr

In [31]:
# 1 to 10 tables
i=1
while i<=10:
    j=1
    while j<=10:
        print(i,"*",j,"=",i*j)
        j+=1
    print()
    i+=1

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [32]:
# 1 to 5 tables
i=1
while i<=5:
    j=1
    while j<=5:
        print(i,"*",j,"=",i*j)
        j+=1
    print()
    i+=1

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25

In [33]:
# Python 3.x code to demonstrate star pattern

# Function to demonstrate printing pattern triangle
def triangle(n):
	
	# number of spaces
	k = n - 1

	# outer loop to handle number of rows
	for i in range(0, n):
	
		# inner loop to handle number spaces
		# values changing acc. to requirement
		for j in range(0, k):
			print(end=" ")
	
		# decrementing k after each loop
		k = k - 1
	
		# inner loop to handle number of columns
		# values changing acc. to outer loop
		for j in range(0, i+1):
		
			# printing stars
			print("* ", end="")
	
		# ending line after each row
		print("\r")

# Driver Code
n = 5
triangle(n)

    *
   * *
  * * *
 * * * *
* * * * *

### jump statements

- we called as unconditional jumps 
- break
- continue
- pass

### break
- terminates the current loop statements
- break is a keyword

In [34]:
for i in "python":
    if i=='h':
        break
    print(i)

p
y
t

In [44]:
for i in "GOPIX":
    if i=='X':
        break
    print(i)

G
O
P
I

In [46]:
n=1
while n<=10:
    print(n)
    n+=1
    if n==6:
        break

1
2
3
4
5

### continue
- it skips only current iteration and continue the next iteration item
- continue is also a keyboard

In [48]:
for i in range(10):
    if i==6:
        continue
        print("fdp")
    print(i)

0
1
2
3
4
5
7
8
9

In [50]:
# print odd numbers using even number condition using continue statement
for i in range(1,10):
    if i%2==0:
        continue
    print(i,end=" ")

1 3 5 7 9

### pass statement
- it is a keyword
- when we need condition scientifically correct to change another operation
- it is a null operation 
- pas statement we use to create empty classes also

In [51]:
s="python"
for i in s:
    if i=='h':
        pass
        print("pass exicuted")
    print(i)

p
y
t
pass exicuted
h
o
n

In [59]:
s="Gopi."
for i in s:
    if i=='.':
        pass
        print("the hero")
    print(i)

G
o
p
i
the hero
.

### string
- string is a group of character
- string is a derived datatype
- all a string return a new class

In [67]:
a="vasavicollage"
print(type(a))

<class 'str'>

In [61]:
print(len(a))

14

In [68]:
print(min(a))
print(max(a))
print(sorted(a))
#print(sum(a))

a
v
['a', 'a', 'a', 'c', 'e', 'g', 'i', 'l', 'l', 'o', 's', 'v', 'v']

In [65]:
s="python"
s1="workshop"
print(s+s1)  
print(s,s1)  
print(s*s1)

pythonworkshop
python workshop

TypeError: can't multiply sequence by non-int of type 'str'

In [82]:
# slicing syntax::(start:end:step)
# positive indexing(left to right)
# negative indexing(right to left)
s="python workshop"
print(len(s))
print(s[0])
print(s[5])
print(s[14])
print(s[-1])
print(s[-2])
print(s[::])
print(s[::-1])
print(s[0:4])
print(s[5:12])
print(s[-1:-5])
print(s[-1:-5])
print(s[5:18])

15
p
n
p
p
o
python workshop
pohskrow nohtyp
pyth
n works


n workshop

In [83]:
print(s[5:18])

n workshop

In [84]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [87]:
s='vasavi collage'
s=" vasavi collage"
s1=''' i am from 
archi roud
i am archi roud'''
s2='''engineereing
department
abcdefghijkl'''

In [89]:
print(len(s1))

38

In [90]:
print(len(s2))

36

In [91]:
print(s1)

 i am from
archi roud
i am archi roud

In [92]:
print(s2)

engineereing
department
abcdefghijkl

In [93]:
p="apssdc workshop"
print(p.capitalize())

Apssdc workshop

In [94]:
n="abcdefghijkl"
print(n)
print(n.upper())
print(n.lower())

abcdefghijkl
APSSDC WORKSHOP
apssdc workshop

In [95]:
m="faculty development program"
print(m)
print(m.title())

faculty development program
Faculty Development Program

In [96]:
s2="workshop"
s3="WORKSHOP"
s4="workshop"
print(s2.islower(),s3.isupper(),s4.isupper())

True True False

In [99]:
s7="India Is My Country"
s7.istitle()

True

In [100]:
s7="India is my country"
s7.istitle()

False

In [103]:
s8=" "

s8.isspace()

True

In [104]:
# isdigit-which is used to identify the digits in a given string
# isalpha- which returns true,alphabets present in a given string
r="python3"
r.isalpha()

False

In [105]:
r.isdigit()

False

In [107]:
s="345678"
s.isalnum()

True

In [110]:
s="python is latest version and today is thursday i am learning python programming workshop"
s.split()

['python',
 'is',
 'latest',
 'version',
 'and',
 'today',
 'is',
 'thursday',
 'i',
 'am',
 'learning',
 'python',
 'programming',
 'workshop']

In [112]:
s="python@is@latest@version@and@today@is@thursday@i@am@learning@python@programming@workshop"
s.split('@')

['python',
 'is',
 'latest',
 'version',
 'and',
 'today',
 'is',
 'thursday',
 'i',
 'am',
 'learning',
 'python',
 'programming',
 'workshop']

In [114]:
s="python is latest version and today is thursday i am learning python programming workshop"
s.split('t')

['py',
 'hon is la',
 'es',
 ' version and ',
 'oday is ',
 'hursday i am learning py',
 'hon programming workshop']

In [116]:
s="GOPITHORLIKONDA"
s2=''
for i in s:
    if i.islower():
        s2 +=i.upper()
    else:
        s2 +=i.lower()
print(s2)

gopithorlikonda

In [117]:
#swapcase
s.swapcase()

'gopithorlikonda'

In [118]:
s="python is latest version and today is thursday i am learning python programming workshop"
s

'python is latest version and today is thursday i am learning python programming workshop'

In [119]:
#count:: to know the number of occurences
s.count('a')

7

In [120]:
s.index('t') # searching starts from the begining

2

In [121]:
s.rindex('t') # searching starts from the ending

63

In [122]:
# find --it will return index position of that character
s.find('t')

2

In [123]:
s.index('s')

8

In [124]:
# replace-used to replace the old character
# strip-used to remove white space by default
d="bye vasavi collage"
d.replace('bye','hi')

'hi vasavi collage'

In [127]:
d="    hello sdc"
print(d)

    hello sdc

In [128]:
d.strip()

'hello sdc'

In [129]:
# join
# centre
# startswith
# endswith
s="thursday"
'@'.join(s)

't@h@u@r@s@d@a@y'

In [130]:
s="thursday"
".".join(s)

't.h.u.r.s.d.a.y'

In [131]:
s.center(1)

'thursday'

In [134]:
s.zfill(10)

'00thursday'

In [135]:
s.zfill(100)

'00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000thursday'

In [137]:
s2="today is the 3rd day"
len(s2)
s2.zfill(21)

'0today is the 3rd day'

In [138]:
s2="today is the 3rd day"
len(s2)
s2.zfill(29)

'000000000today is the 3rd day'

In [139]:
s2.startswith('to')

True

In [141]:
s2.startswith('day')

False

In [142]:
s2.endswith('to')

False

### data structures
- list
  - list is one of the data structures in python.
  - list is mutable
  - represented with []
  - slicing,indexing are same as the string concepts.
- tuple
- dictionaries
dt are two types:
   - mutable
     - we can't change it once it declared.
     - ex:string,Tuble
   - Immutable
     - we can change at any time after its declaration.
     - ex:list,dictionaries

In [143]:
li=[2,4,7,4,9,1]
print(li)

[2, 4, 7, 4, 9, 1]

In [144]:
print("lenght of the list",len(li))
print("max one of the list",max(li))
print("min one of the list",min(li))

lenght of the list 6
max one of the list 9
min one of the list 1

In [145]:
    a=['apple',5,8,28,.6]
    b=[4,8,'today',4]

In [146]:
a + b #concatination

['apple', 5, 8, 28, 0.6, 4, 8, 'today', 4]

In [147]:
b+a

[4, 8, 'today', 4, 'apple', 5, 8, 28, 0.6]

In [148]:
a*3

['apple', 5, 8, 28, 0.6, 'apple', 5, 8, 28, 0.6, 'apple', 5, 8, 28, 0.6]

In [149]:
(a+b)*2

['apple',
 5,
 8,
 28,
 0.6,
 4,
 8,
 'today',
 4,
 'apple',
 5,
 8,
 28,
 0.6,
 4,
 8,
 'today',
 4]

In [150]:
'apple' in a

True

In [151]:
'today' not in a

True

In [152]:
names=['anil','balu','gopi','nitish','rakesh','surya']
names[2]

'gopi'

In [153]:
names[1]

'balu'

In [154]:
names[4]

'rakesh'

In [155]:
s='names'
s[0]
s[:3]
s[0:3]
s[2:6]

'mes'

In [157]:
li1=['vasavi','collage','students','hostal']

In [158]:
li1[2:]

['students', 'hostal']

In [159]:
li1[:2]

['vasavi', 'collage']

In [160]:
li1[2:5]

['students', 'hostal']